extends layout

block append css
  link(href='/static/css/devhealth.less', rel='stylesheet/less', type='text/css')

block content
  | <script >
  | $(function() {
  |   $('.table-stats').tablesorter();
  | });
  | </script>
  .container
    .content
      if github
        div.page-header
          h1 Development Health
        if github.get_err()
          p The github API returned the following error:
          p.alert!=trace(github.get_err())
        else
          if github.get_data()
            each metric in github.get_data()
              include includes/github_stats
