extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in devops.links
              li
                a(href='#{uri}') #{name}
      .span9
        .hero-unit
          h1 #{devops.name}
          h2 #{devops.description}

      
      .span9
        .row-fluid
          .span3
            h1 Contacts
            .contacts
              for team in devops.contacts
                include includes/team_contacts
            hr
          .span3
            if devops.environments
              include includes/environment
            hr
            if data
              include includes/pagerduty
              
    .span9
       

script(src='/static/jquery/jquery-1.7.1.min.js')
script(src='/static/bootstrap/js/bootstrap.min.js')