-var id = id;
-var start = start;
-var end = end;
div(style="margin: 0 auto; width: 450px;")
  form(method="GET", id=id)
    label(for="start") Start
    input(type="text", name="start", value=start)
    label(for="end") End
    input(type="text", name="end", value=end)
    input(type="submit", value=" GO! ", class="form-submit", style="width: 70px; height: 30px;")
